<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitLab API</title>
</head>
<body>
<div th:if="${isAuthenticated}">
    <!-- Если пользователь аутентифицирован -->
    <p>Logged in as: <span th:text="${name}"></span></p>
    <p>Go to swagger &rarr; <a href="/swagger-ui/index.html">swagger</a></p>
    <p>UI for events &rarr; <a href="/gitlab/stats">ui</a></p>
</div>
<div th:unless="${isAuthenticated}">
    <!-- Если пользователь не аутентифицирован -->
    <p>With Gitlab: <a href="/oauth2/authorization/gitlab">click here</a></p>
</div>
</body>
</html>